<div class="container">
    <div class="wrap">
        <div class="profile-box">
            <div class="img">
               <%= image_tag "batwoman.jpg", width: "100%", heigth: "100%" %>
           </div>
           <div class="user-name pull-left"><a href=""><b>Name</b>, 48</a></div>
           <div class="user-location text-right"><i class="fa fa-map-marker"></i> Monroe, NY</div>
           <div class="description">
               <h4 class="text-uppercase"><small>Description</small></h4>
               <p class="small">After being dismissed from the military for being a lesbian, Kate Kane lived a directionless party-girl heiress life until, on a dark night, a chance encounter with Batman inspired her to find a new calling in life, later adopting the mantle of Batwoman.</p>
           </div>
       </div>
   </div>
</div>